@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width:100%;
}


.nav {
    padding-top: 40px;
    height: 93px;
    justify-content: space-around;
    align-items: center;
    display: flex;   
}

.nav-img {
    padding-left: 130px;
}

.nav-option-bar a {
    font-size: 16px;
    text-decoration: none;
    color: #4F5665;
    gap:40px ;
    padding-left: 40px;
}

.nav-register {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav-register a {
    text-decoration: none;
    color: #0B132A;
    font-size: 16px;
    font-weight: bolder;
}

.nav-register div {
    display: flex;
    width: 150px;
    height: 45px;
    border: #F53855 solid 1px;
    border-radius: 50px;
    color:#F53855;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.sectin-entery {
    justify-content: center;
    display: flex;
    height: 430px;
    margin-top: 85px;
    margin-bottom: 55px;
    background-color:white;
    gap: 45px;
}

.sectin-entery-leftside {
    width: 556px;
    display: flex;
    flex-direction: column;
}

.sectin-entery-p1 {
    font-size: 50px;
    color: #0B132A;
    line-height: 70px;
    font-weight: bolder;
}

.sectin-entery-p1 span {
    color: #F53838;
    font-weight: 900;
}

.sectin-entery-p2 {
    color: #4F5665;
    font-size: 16px;
    margin-top: 20px;
}

.sectin-entery-p2 span {
    font-weight:900;
}

.sectin-entery-leftside div {
    display: flex;
    width: 250px;
    height: 60px;
    margin-top: 50px;
    background-color: #F53838;
    border: 1px solid #F53838 ;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bolder;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.section-information {
    display: flex;
    flex-direction: row;
    height:200px;
    background-color: #F53838;
    width: 1140px;
    margin: 50px 150px 105px 150px;
    border: 1px solid #F53838;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.section-information-user {
    display: flex;
    flex-direction: row;
    flex: 3;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #EEEFF2;
    gap: 30px;
    cursor:pointer;
}

.section-information-user-logo {
    display: flex;
    flex-direction:column ;
}

.section-information-user-logo p {
    font-size: 25px;
    color: #FFFFFF;
    font-weight: bolder;
}

.section-information-user-logo span {
    font-size: 20px;
    color: #FFFFFF;
}

.section-information-location {
    display: flex;
    flex-direction: row;
    flex: 3;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #EEEFF2;
    gap: 30px;
    cursor:pointer;
}

.section-information-location-logo {
    display: flex;
    flex-direction:column ;
}

.section-information-location-logo p {
    font-size: 25px;
    color: #FFFFFF;
    font-weight: bolder;
}

.section-information-location-logo span {
    font-size: 20px;
    color: #FFFFFF;
}

.section-information-servers {
    display: flex;
    flex-direction: row;
    flex: 3;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor:pointer;
}

.section-information-servers-logo {
    display: flex;
    flex-direction:column ;
}

.section-information-servers-logo p {
    font-size: 25px;
    color: #FFFFFF;
    font-weight: bolder;
}

.section-information-servers-logo span {
    font-size: 20px;
    color: #FFFFFF;
}

.section-supplies {
    display: flex;
    align-items: center;
    justify-content: center;    
    gap: 165px;
    margin-bottom: 100px;
}

.section-supplies-information {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 390px;
    gap: 50px;
}

.section-supplies-information-p1 {
    font-size: 35px;
    color: #0B132A;
    font-weight: bolder;
}

.section-supplies-information-p1 span {
    color: #F53838;
    font-weight: bolder;
}

.section-supplies-information-p2 {
    font-size: 16px;
}

.section-supplies-details  {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #4F5665;
    gap: 24px;
}

.section-supplies-details-1 {
    display: flex;
    flex-direction: row;
    align-items: center;   
    gap: 10px; 
}

.section-supplies-details-2 {
    display: flex;
    flex-direction: row;
    align-items: center;  
    gap: 10px; 
  
}

.section-supplies-details-3 {
    display: flex;
    flex-direction: row;
    align-items: center;   
    gap: 10px; 
 
}

.section-supplies-details-4 {
    display: flex;
    flex-direction: row;
    align-items: center;   
    gap: 10px;  
}

section {
    width: 100%;
    height: 2083px;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-p1 {
    color: #0B132A;
    font-size: 35px;
    font-weight: bolder;
    margin-top: 77px;
    margin-bottom: 20px;
}

.section-p1 span {
    color: #F53838;
    font-size: 35px;
    font-weight: bolder;
}

.section-p2 {
    font-size: 16px;
    color: #4F5665;
    margin-bottom: 60px;
}

.section-prices {
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: 760px;
}

.section-prices-1 {
    width: 330px;
    height: 760px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 85px;  
    position: relative;  
}

.section-prices-1 span {
    font-size: 16px;
    font-weight: bolder;
    color: #0B132A;
    padding-top: 16px;
    padding-bottom: 30px;
}

.section-prices-1-informatin {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-prices-1-informatin-1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.section-prices-1-informatin p {
    color: #4F5665;
    font-size: 14px;
}

.section-prices-1-p {
    color: #0B132A;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 130px;
    padding-bottom: 20px;
}

.section-prices-button {
    width: 177px;
    height: 45px;
    position: absolute;
    border: 2px solid #F53838;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    bottom: 50px;
}

.section-prices-button p {
    font-size: 16px;
    color: #F53838;
    font-weight: bolder;
}

.section-prices-2 {
    width: 330px;
    height: 760px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 85px;
    position: relative;
}
.section-prices-2 span {
    font-size: 16px;
    font-weight: bolder;
    color: #0B132A;
    padding-top: 16px;
    padding-bottom: 30px;
}

.section-prices-2-informatin {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-prices-2-informatin-1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.section-prices-2-informatin p {
    color: #4F5665;
    font-size: 14px;
}

.section-prices-2-p {
    color: #0B132A;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 85px;
}

.section-prices-2-p span {
    color: #4F5665;
    font-size: 25px;
}

.section-prices-3 {
    width: 330px;
    height: 760px;
    padding-top: 85px;
    border: 2px solid #F53838;  
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section-prices-3 span {
    font-size: 16px;
    font-weight: bolder;
    color: #0B132A;
    padding-top: 16px;
    padding-bottom: 30px;
}

.section-prices-3-informatin {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-prices-3-informatin-1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.section-prices-3-informatin p {
    color: #4F5665;
    font-size: 14px;
}

.section-prices-3-p {
    color: #0B132A;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 40px;
}

.section-prices-button-2 {
    width: 177px;
    height: 45px;
    position: absolute;
    border: 2px solid #F53838;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    bottom: 50px;
    background-color:#F53838 ;
    box-shadow: 2px 8px 10px 2px #F53838 ;
}

.section-prices-button-2 p {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bolder;
}

.section-prices-3-p span {
    color: #4F5665;
    font-size: 25px;
}

.section-p3 {
    font-size: 35px;
    color: #0B132A;
    font-weight: bolder;
    margin-top: 150px;
}

.section-p3 span {
    color: #F53838;
}

.section-p4 {
    font-size: 16px;
    color: #4F5665;
    margin-top: 40px;
}

.section-p4 span {
    font-weight: bolder;
}

.section-world-photo {
    margin-top: 120px;
}

.social-application {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 210px;
    gap: 30px;    
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #F8F8F8;
}

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 567px;
    width: 1300px;
    background-color: #F8F8F8;
}

.footer-top-p1 {
    font-size: 35px;
    font-weight: bolder;
    color: #0B132A;
    line-height: 50px;
}

.footer-top-p1 span {
    font-weight: bolder;
    font-size: 35px;
    color: #F53838;
    padding-left: 70px;
}

.footer-top-p2 {
    font-size: 16px;
    color: #4F5665;
    line-height: 30px;
    margin-top: 20px;
}

.footer-top-p2 span {
    padding-left: 60px;
}

.footer-top-comment {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 60px;
}

.footer-top-client {
    width: 400px;
    height: 230px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.footer-top-client:hover {
    border: 2px solid #F53838;
    border-radius:10px ;
    transition: .7s;
}

.footer-top-client-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 30px 5px 30px;
}

.footer-top-client-top div {
    display: flex;
    justify-content: center;
    width: 220px;
    height: 50px;
    gap: 20px;
}

.footer-top-client-top div div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-top-client-p1 {
    font-size: 18px;
    color: #0B132A;
    font-weight: 900;
}

.footer-top-client-span1 {
    font-size: 14px;
    color: #4F5665;
    font-weight: 300;
}

.footer-top-client-top-span {
    margin-left: 60px;
    margin-right: 10px;
    color: #0B132A;
    font-size: 16px;
    font-weight: bolder;
}

.footer-top-client-bottom {
    margin: 0px 30px 30px 30px;
}

.footer-top-client-bottom p {
    font-size: 16px;
    color: #0B132A;
    font-weight: 500;
    line-height: 30px;
}

.footer-top-image {
    margin-top: 82px;
    margin-bottom: 87px;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 750px;
    background-color: #F8F8F8;
}

.footer-botton-subscribe {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 380px;
    width: 1140px;
    height: 233px;
    margin-top: 87px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

.footer-botton-subscribe-text-p1 {
    font-size: 35px;
    color: #0B132A;
    font-weight: bolder;
    line-height: 45px;
}

.footer-botton-subscribe-text-p2 {
    font-size: 35px;
    color: #F53838;
    font-weight: bolder;
    line-height: 45px;
}

.footer-botton-subscribe-text-span {
    font-size: 16px;
    color: #4F5665;
    font-weight: normal;
    line-height: 45px;
}

.footer-botton-subscribe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 60px;
    background-color: #F53838;
    border: 1xp solid #F53838; 
    border-radius: 10px;   
    cursor: pointer;
}

.footer-botton-subscribe-button span {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bolder;
}

.footer-end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 560px;
    width: 100%;
    margin-top: 200px;
    background-color: #F53838;
}

.footer-end-account {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 90px;
}

.footer-end-account-img {
    width: 180px;
    height: 55px;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-end-account-p1 {
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    font-weight: normal;
}

.footer-end-account-p2 {
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    font-weight: normal;
    margin-bottom: 20px;
}

.footer-end-account-png {
    display: flex;
    flex-direction: row;
}

.footer-end-account-png img {
    width: 73px;
    height: 73px;
    cursor: pointer;
}

.footer-end-account span {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 30px;
    cursor: pointer;
}

.footer-end-information1 {
    display: flex;
    flex-direction: column;
    width: 74px;
    height: 280px;
    margin-left: 230px;
    margin-top: 90px;
}

.footer-end-information1 h2 {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    cursor: pointer;
}

.footer-end-information1 h4 {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-end-information2 {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 280px;
    margin-left: 150px;
    margin-top: 90px;
}

.footer-end-information2 h2 {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    cursor: pointer;
}

.footer-end-information2 h4 {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-end-information3 {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 280px;
    margin-left: 200px;
    margin-top: 90px;
}

.footer-end-information3 h2 {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    cursor: pointer;
}

.footer-end-information3 h4 {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 10px;
    cursor: pointer;
}